modules = ["python-3.12", "nodejs-20", "web", "bash"]
run = "python app.py"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "python app.py"]

[workflows]
runButton = "Deploy and Run Servers"

[[workflows.workflow]]
name = "Deploy and Run Servers"
author = 39699562
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "run = \"bash attached_assets/run_all.sh\" language = \"bash\" entrypoint = \"attached_assets/run_all.sh\"  [interpreter] command = [\"bash\"]"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Deploy and Run Servers"
